body{
  width: 369px;
  height: 320px;
}

button.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

button.accordion.active, button.accordion:hover {
    background-color: #ddd;
    color: #f4511e;
}

button.accordion:after {
    content: '\002B';
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

button.accordion.active:after {
    content: "\2212";
}

div.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

button {
  display: inline-block;
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 13px;
  padding: 10px;
  width: 120px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

button {
    background-color: white;
    color: black;

}

button:hover {
    background-color: #f4511e;
    color: white;
}



/*Get HTML BUTTON*/
#checkPage {
  display: inline-block;
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  position: relative;
  font-size: 14px;
  padding: 10px;
  width: 148px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

#checkPage span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  left: 7px;
  transition: 0.5s;
}

#checkPage span:after {
  font-size: 13px;
  content: '\27AA';
  position: static;
  opacity: 0;
  top: 0;
  right: -30px;
  transition: 0.5s;
}

#checkPage:hover span {
  padding-right: 40px;
}

#checkPage:hover span:after {
  opacity: 1;
  right: 0;
}

p {
    color: #D8000C;
    text-align: center;
    background-image: url("error.png");
    background-position: 20% 20%;
    background-repeat: no-repeat;

}

/*W.A.T.E.R*/
h1 { color: #000000; font-family: 'Helvetica Neue', sans-serif; font-size: 25px; font-weight: bold; letter-spacing: -1px; line-height: 1; text-align: center; }
